<article id="<%= article.id %>">
  <aside>
    <%= link_to article.feed.name, article.feed.url %>
  </aside>
  <h2><%= link_to article.title, article.link %></h2>
  <section>
    <%= raw(HTMLEntities.new.decode(article.content)) %>
  </section>  
</article>