<article id="<%= article.id %>">
  <aside class="article-feed-bar">
    <div class="article-feed-link container">
      <%= link_to raw(article.feed.name), article.feed.url %>
      <div class="brand">
        Readerly
      </div>
    </div>
  </aside>
  <div class="container article-container">
    <h2 class="article-title"><%= link_to raw(article.title), article.link %></h2>
    <div class="article-body">
      <%= raw(HTMLEntities.new.decode(article.content)) %>
    </div>
  </div>
</article>
