<article id="<%= article.id %>">
  <aside class="article-feed">
    <div class="container">
      <%= link_to raw(article.feed.name), article.feed.url %>
    </div>
  </aside>
  <div class="container">
    <h2 class="article-title"><%= link_to raw(article.title), article.link %></h2>
    <div class="article-body">
      <%= raw(HTMLEntities.new.decode(article.content)) %>
    </div>
  </div>
</article>
