<article id="empty">
  <aside class="article-feed-bar">
    <div class="article-feed-link container">
      <div class="brand">
        Readerly
      </div>
    </div>
  </aside>
  <div id="no-articles" class="container">
    <div class="no-articles-message">
      <h2 class="no-articles-title"><%=t :no_articles %></h2>
      <p class="no-articles-body"><%=t :no_articles_message %></p>
    </div>
  </div>
</article>
