<article id="empty">
  <aside class="article-feed">
    <div class="container">
      <div class="brand">
        Readerly
      </div>
    </div>
  </aside>
  <div class="container">
    <h2 class="article-title">â¦ <%=t :no_articles %></h2>
    <div class="article-body">
      <p><%=t :no_articles_message %></p>
    </div>
  </div>
</article>
