<div id="help-icon">
  <%= image_tag "help-icon.png" %>
</div>
<div id="help">
  <div class="help-item">
    <dl>
      <dt>
        Next
      </dt>
      <dd>
        <kbd>Space</kbd>
      </dd>
      <dd>
        <kbd>j</kbd>
      </dd>
    </dl>
  </div>
  <div class="help-item">
    <dl>
      <dt>
        Skip
      </dt>
      <dd>
        <kbd>Shift</kbd>+<kbd>Space</kbd>
      </dd>
      <dd>
        <kbd>Shift</kbd>+<kbd>j</kbd>
      </dd>
    </dl>
  </div>
  <div class="help-item">
    <dt>
      Previous
    </dt>
    <dd>
      <kbd>Ctrl</kbd>+<kbd>Space</kbd>
    </dd>
    <dd>
      <kbd>k</kbd>
    </dd>
  </div>
  <div class="help-item">
    <dt>
      Open current
    </dt>
    <dd>
      <kbd>1</kbd>
    </dd>
  </div>
  <div class="help-item">
    <dt>
      Mark all as read
    </dt>
    <dd>
      <kbd>m</kbd>
    </dd>
  </div>
</div>
