#loader {
  @include fill-parent;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  display: table;

  #loader-message {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    h2 {
      font-family: $title-font-family;
      color: $no-articles-title-color;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 45px;
     }
   }
}