#loader {
  @include fill-parent;
  text-align: center;
  padding-top: 100px;
  h2 {
    font-family: $title-font-family;
    background: $secondary-bg-color;
    text-transform: uppercase;
    margin: 0 auto auto;
    width: 250px;
    font-weight: 300;
    padding: 5px;
  }
}