$title-font-family:       "Lato", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$body-font-family:        "Merriweather", Georgia, Times, "Times New Roman", serif;

$feed-bar-height:         em(55);

$background-color:        #FCFCFB;
$feed-background-color:   darken($background-color, 3%);
$title-color:             #16a085;
$body-color:              #b3b3b1;
$secondary-bg-color:      darken($background-color, 4%);
$link-color:              darken($title-color, 5%);
$no-articles-title-color: transparentize(darken($background-color, 9%), 0.2);
$no-articles-body-color:  lighten(black, 50%);
