$body-font-family:        "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
$title-font-family:       "Source Sans Pro", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

$background-color:        #FCFCFB;
$body-color:              #b3b3b1;
$link-color:              #44AA55;
