/* ==========================================================================
   Base tags
   ========================================================================== */

body {
  background-color: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

article {
  @include fill-parent;

  border-bottom: 1px solid #dededc;
}


/* ==========================================================================
   Base classes
   ========================================================================== */

.container {
  @include outer-container;
}

.seen {
  a, p {
    color: #666;
  }
  img {
    -webkit-filter: grayscale(100%);
  }
}

.article-feed {
  background: $feed-background-color;
  padding-top: 40px;
  padding-bottom: 12px;
  // border-bottom: 1px solid #dededc;
  a {
    font-family: $title-font-family;
    font-weight: 700;
    font-size: 12px;
    color: $title-color;
    text-transform: uppercase;
  }
}

.article-title {
  margin-bottom: 40px;
  font-family: $title-font-family;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  color: $title-color;
  line-height: 1.1;
  letter-spacing: -1px;
  a {
    color: inherit;
  }
}

.article-body {
  font-family: $body-font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.618;
}
