// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #FCFCFB;
}

.container {
  @include outer-container;
}

article {
  @include fill-parent;

  font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-size: 26px;
  padding-bottom: 27px;
  padding-top: 20px;
}

aside {
  font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #dededc;
  padding-bottom: 12px;
  color: #b3b3b1;
  font-size: 12px;
  margin-bottom: 21px;
  text-transform:uppercase;
  margin-top: 40px;
}

h2 {
font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
font-weight: 700;
font-size: 40px;
line-height: 1.1;
margin-bottom: 40px;
}

h3 {
font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
font-weight: 700;
font-size: 20px;
margin-bottom: 2px;
}

a {
  color: #069B37;
}

.seen {
  a, p {
    color: #666;
}
 img {
   -webkit-filter: grayscale(100%);
 }
}
