<!DOCTYPE html>
<html>
  <head>
    <title>Readerly</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if IE]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <link rel="apple-touch-icon-precomposed" href="/assets/apple-icon-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-icon-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-icon-precomposed.png" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
